// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
body {
  font-family: "Nanum Gothic", sans-serif;
  min-width: 640px;
  overflow-x: auto;
}
